
<div>hi</div><!-- ============================================================== -->
<!-- Start Dashboard Navbar -->
<!-- ============================================================== -->
<!-- <nav
  class="navbar navbar-expand-md d-flex justify-content-center align-content-center border-bottom border-1 mb-2"
>
  <div
    class="container-fluid d-flex justify-content-between align-content-center"
  >
    <div class="align-self-start align-self-md-center">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/images/vezeeta-logo.png"
          style="width: 6rem"
          alt="vezeeta logo"
          class="d-inline-block align-text-top"
        />
      </a>
    </div>

    <div class="" id="navbarNav">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark pro-pic text-dark fs-12 fw-bolder animated"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../../../assets/images/person1.png"
              alt="user"
              class="rounded-circle border border-dark border-1 mx-3"
              width="31"
            />
            Admin Name
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end user-dd animated"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item py-3" href="javascript:void(0)"
              ><i class="fa-solid fa-user"></i> My Profile</a
            >
            <a class="dropdown-item py-3" href="javascript:void(0)"
              ><i class="fa-solid fa-envelope"></i> Inbox</a
            >
            <a class="dropdown-item py-3" href="javascript:void(0)"
              ><i class="fa-solid fa-gear"></i> Account Setting</a
            >
            <a class="dropdown-item py-3" href="javascript:void(0)"
              ><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a
            >
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- ============================================================== -->
<!-- End Dashboard Navbar -->
<!-- ============================================================== -->

<!-- <div class="container-fluid">
  <div class="row"> -->
    <!-- ============================================================== -->
    <!-- Start Dashboard Sidebar -->
    <!-- ============================================================== -->
    <!-- <app-sidebar class="d-none d-md-block col-2"></app-sidebar> -->
    <!-- ============================================================== -->
    <!-- End Dashboard Sidebar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Dashboard main Page -->
    <!-- ============================================================== -->

    <!-- <aside class="col-md-10 border border-1 vh-100"> -->
      <!-- footer -->
      <!-- <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
          molestiae laboriosam nam harum neque fugit, culpa possimus deserunt,
          molestias vitae itaque minima! Totam dicta magnam nulla fugiat
          doloremque! Tempore consectetur magni saepe doloribus ducimus sed
          libero porro, autem explicabo, est pariatur suscipit minus doloremque
          vitae nihil labore repudiandae ipsum quam corrupti rerum quaerat! Ex
          enim asperiores pariatur ratione. Deleniti tempora harum quibusdam
          debitis quos non necessitatibus, porro maxime velit magni nobis.
          Voluptatum esse, dicta, consequatur inventore quos repellendus error
          quibusdam eaque commodi distinctio exercitationem iure beatae. Ea
          autem neque alias illum! Neque, maiores modi repellat possimus dolorum
          culpa! Accusamus, dolores.
        </p>
      </div>
    </aside> -->

    <!-- ============================================================== -->
    <!-- End Dashboard main Page -->
    <!-- ============================================================== -->
  <!-- </div>
</div> -->
