.mainRegCont{
    margin-top: 4rem;
    width: 95%;
}

.RegContainer form{
    position: relative;
    top: 10%;
}

.input{
    margin: 1.2rem auto;
    width:50%;
}
.info{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}